PORT = 5000
MONGO_URI= #Your mongodb uri (local/remote)
JWT_SECRET= #Your jwt secret key
NODE_ENV= #Your node environment (development/production)
JDOODLE_CLIENT_ID= #Your jdoodle client id 
JDOODLE_CLIENT_SECRET= #Your jdoodle client secret 
CLOUDINARY_CLOUD_NAME = #Your cloudinary cloud name 
CLOUDINARY_API_KEY = #Your cloudinary api key 
CLOUDINARY_API_SECRET = #Your cloudinary api secret 